- if @my_geo_objects.present?
  :javascript
    ymaps.ready(function () {
      myGeoObjects = [];
      mgo_json = #{@my_geo_objects}
      var map = new ymaps.Map('map', {center: mgo_json[0]["geometry"]["coordinates"], zoom: 13})
      for(prop in mgo_json) {
        myGeoObjects[prop] = new ymaps.GeoObject(mgo_json[prop]);
          }
    clusterer = new ymaps.Clusterer({clusterDisableClickZoom: true});
    clusterer.add(myGeoObjects);
    map.geoObjects.add(clusterer);
    });

.map{:id => "map", :style =>"height:500px"}
