%li.span3
  .thumbnail
    = link_to violation_path(violation) do
      = image_tag "http://placehold.it/260x180"
    .caption{style:"text-align:center;"}
      %h2=violation.car.try(:number) || "Нет номера"
      %p=violation.description
      %p.rating-js
        =link_to "Наказать", api_violation_rates_path(violation), class: "judge btn btn-danger "
        =link_to "Оправдать", api_violation_rates_path(violation), class: "acquit btn btn-success"
