.violation
  .top
    .photo
      =link_to "#" do
        = image_tag @violation.image_url
    .params
      %h2.description= @violation.description
      .buttons
        =link_to "Наказать", "#", class: "btn btn-danger btn-big"
        =link_to "Оправдать", "#", class: "btn btn-success btn-big"

  .bottom
    %h2.number= @violation.car.try(:number) || "Нет номера"
    .address= @violation.address
